
/**
 * 这样的话，我们基本就已经完成了
 */

 pre:hover{
   box-shadow: 0px 0px 40px 5px rgba(255,255,255,0.4);
 }

 #skip-animation, #pause-resume {
   display: none;
 }


.value {
  text-shadow: 0px 15px 1px white;
}

/**
 * 至此，已经完成了整个流程，如果你会CSS的话，可以自己修改更加美观的样式
 *
 * 欢迎一些有技术追求的朋友和我交流分享
 */


