/**
 * Inspired by strml: https://github.com/strml
 * 
 * Hello, My name is Litao
 * 借助Github服务器搭建了一份基于web端的动态简历，希望大家能够喜欢
 * 原Github地址： https://github.com/strml （项目支持）
 * 
 */

/**
 * 那就现在开始吧，先给所有元素加上过渡效果
 */

* {
  -webkit-transition: all 1s;
}

/**
 *
 * 空白的背景似乎有点单调
 * 我们给它来点背景吧
 */

html {
  background: rgb(63, 82, 99);
}

/***
 * Hold on...
 */

pre, a {
  color: white;
}

/**
 * 直接显示在页面上，没有什么装饰......
 *
 * 有点反人类，所以给文字加点装饰吧  (๑•̀ㅂ•́)و✧
 *
 */

pre:not(:empty) {
  overflow: auto;
  background: rgb(48, 48, 48);
  border: 1px solid #ccc;
  max-height: 45vh;
  width: 49%;
  font-size: 14px;
  font-family: monospace;
  padding: 1vh 0.5vw;
  box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
  white-space: pre-wrap;
  outline: 0;
  margin: 1vh 0.5vw;
}

/**
 * 接着，再来点填充
 */

#style-text {
  -webkit-transform: translateX(95%);
  position: absolute;
}

/**
 * 怎么文字全是白色的，实在是太过于难看了，我太南了 (ノへ￣、)
 * 现在就来提高点读者的阅读体验吧
 */

.comment       { color: #857F6B; font-style: italic; }
.selector      { color: #E69F0F; }
.selector .key { color: #64D5EA; }
.key           { color: #64D5EA; }
.value         { color: #BE84F2; }
.value.px      { color: #F92772; }

/**
 * 可以看见，已经初步成型了  ︿(￣︶￣)︿
 * 我们把它换到右边吧
 */

body {
  -webkit-perspective: 1000px;
}

#style-text {
  -webkit-transform: translateX(98.5%) rotateY(-10deg);
  -webkit-transform-origin: right;
  max-height: 93.1vh;
}

/**
 * 前期工作基本已经完成了
 * 
 * 现在，我们来开始写Resume吧
 * 
 * 顺便一说，这个简历的展示是基于Markdown来编辑的 
 *
 */

pre:not(#style-text) {
  -webkit-transform: rotateY(10deg);
  -webkit-transform-origin: left;
}
